:root {
  --black: #2b2b2b;
  --white: #fafafa;
  --orange: #ec6c4c;
  --grey: #48484a;
  --blue: #0c4a6e;
}
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  background: linear-gradient(to top, #040308, #ad4a28, #dd723c, #fc7001, #dcb697, #9ba5ae, #3e5879, #020b1a);
  font-family: 'Poppins';
}
sup {
  font-weight: 400;
  font-size: 70%;
}
.alert {
  text-align: center;
}
.card {
  box-shadow: 0 0 3Sem #dcb697;
  border: 0;
  background: var(--white);
  display: block;
  padding: 0;
}
.card-header {
  font-size: 1.4em;
  background: var(--blue);
  color: var(--white);
  font-weight: 500;
}
.card-footer {
  background: transparent;
  border-top: 0px;
}
.card ul {
  list-style-type: none;
  padding: 0;
}
.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 4px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  color: var(--orange);
  margin: 0 auto;
}
.currentCity {
  color: var(--orange);
  font-weight: 600;
}
.description {
  color: var(--grey);
  font-weight: 500;
}
.form-check-label {
  color: var(--white);
  font-weight: 400;
  font-size: 1.1em;
}
.hide {
  display: none;
}
.list-group-item {
  border: 0;
  padding: 4px 0;
}
.list-group li {
  background: var(--white);
}
.navbar-brand {
  font-size: 2em;
  color: var(--white);
  font-weight: 500;
}
.show {
  display: block;
}
.spinner {
  font-size: 2rem;
}
.underline {
  border-bottom: none;
}
.weatherDetails {
  font-weight: 500;
  font-size: 1.1em;
}

@media (min-width: 992px) {
  .underline {
    border-bottom: 3px solid var(--orange);
  }
}
